/* Debug */
.ms-debug {
  border: 2px dashed darkred;
}

/* layout */

body {
  height: 100vh;
}

/* Main */

#ms-main {
  height: calc(100% - 56px);
  display: flex;
}

/* sidebar */

#sidenav {
  background-color: aquamarine;
}

/* main-content */

#main-content {
  background-color: brown;
  flex-grow: 1;
}

#mc-header {
  background-color: blue;
  min-height: 200px;
}
