/* Debug */
.ms-box {
  min-height: 100px;
  line-height: 80px;
  min-width: 100px;
  border: 2px dashed darkred;
}

/* layout */

body {
  height: 100vh;
}

/* Main */

#ms-main {
  height: calc(100% - 56px);
  display: flex;
}

/* sidebar */

#sidenav {
  background-color: #051e34;
  color: white;
  background-image: url(../img/sidebar-bg.png);
  /* white-space: nowrap; */
}

/* main-content */

#mc-header {
  background-color: #1b72e8;
  min-height: 100px;
}

#main-content {
  flex-grow: 1;
}

#card {
  border: 1px solid grey;
  border-radius: 5px;
}
