/* layout */

body {
  height: 100vh;
}

#borded {
  border: 1px solid grey;
}

.box {
  padding: 5px;
  border-radius: 15px;
}

/* palette */

.green {
  background-color: green;
  color: white;
}
.red {
  background-color: darkred;
  color: white;
}
.yellow {
  background-color: goldenrod;
  color: white;
}
.grey {
  background-color: grey;
  color: white;
}
.blue {
  background-color: #165bba;
  color: white;
}

/* NAVBAR */
.logo-mobile {
  width: 35px;
}

/* Main */

#ms-main {
  height: calc(100% - 56px);
  display: flex;
}

/* sidebar */

#sidenav {
  background-color: #051e34;
  color: white;
  background-image: url(../img/sidebar-bg.png);
  white-space: nowrap;
}

/* MAIN */

/* main-header */
#mc-header {
  background-color: #1b72e8;
  color: white;
  min-height: 100px;
}
.null-pad {
  padding: 1px;
  background-color: #165bba;
  color: white;
  border-radius: 10px;
  border: none;
}

/* main-content */

#main-content {
  flex-grow: 1;
  overflow: auto;
}

#card {
  border: 1px solid grey;
  border-radius: 5px;
}
/* table-like */

th > img {
  width: 20px;
}

/* inputs */
#inputs {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0px 5px;
}

/* OFF-CANVAS */
.offcanvas {
  color: black;
}
.offcanvas.offcanvas-end {
  width: 40%;
}
.ms-off > input,
select {
  width: 100%;
  display: block;
  border-radius: 5px;
  border-color: rgba(65, 60, 60, 0.247);
}
.ms-lst-button {
  margin: 25px 0 0 10px;
}
.blk-txt {
  color: black;
}

/* responsive */

/* offcanvas responsive */
@media screen and (min-width: 991px) {
  #offcanvasRight {
    width: 50%;
  }
}
@media screen and (max-width: 990px) {
  #offcanvasRight {
    width: 100%;
  }
}
